<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title><%= _.slugify(appName) %></title>

</head>
<body>
    <script src="bower_components/jquery/src/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular/angular-cookies.js"></script>
    <script src="bower_components/angular/angular-resource.js"></script>
    <script src="bower_components/angular-bootstrap/ui-boostrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-boostrap-tpls.js"></script>
</body>
</html>